* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 1;
  grid-column: 2 / span 3;
  border-bottom: 1px solid darkgrey;
}

h1 {
  color: white;
}

h3 {
  margin: 0px;
}
/*=======================================
>>>>>>>>  logo  <<<<<<<<
========================================*/

h1,
p {
  margin: 0;
}
.logo{
  display: flex;
    justify-content: center;
    align-items: center;

}
.logo p {
  font-weight: 200;
  font-size: 70px;
  color: white;
}
.jetfuel {
  font-size: 60px;
  font-weight: 200;
}

.turbo{
  font-size: 40px;
  font-weight: 400;
}
/*=======================================
>>>>>>>>  title <<<<<<<<
========================================*/

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  width: 75%;
}

.dropdown #newbtn {
  height: 30px;
  width: 200px;
  background: #645AFF;
  border: none;
  font-size: 15px;
  color: white;
  margin: 50px 0 20px 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
}

.dropdown #newbtn:hover {
  cursor: pointer;
}

#name {
  font-size: 14px;
  padding-left: 10px;
  height: 35px;
  width: 183px;
  border: 1px solid grey;
  margin: 5px;
}

.url-submit {
  display: flex;
  align-items: center;
  padding: 5px;
}

.url-submit #url {
  font-size: 14px;
  padding-left: 10px;
  height: 35px;
  width: 275px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ff0202;
  margin: 5px;
}

.folder-select {
  padding: 5px;
}
.url-submit #url:focus,
.folder-select input:focus{
  border: 1px solid #4285F4;
}

.url-submit #url:hover,
.folder-select input:hover {
  cursor: pointer;
  border: 1px solid #4285F4;
}

/*input#add-folder {
  font-size: 14px;
  padding-left: 10px;
  height: 35px;
  width: 195px;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px;
}*/

/*=======================================
>>>>>>>>  dropdown  <<<<<<<<
========================================*/
#dropdown2 {
  height: 35px;
  width: 200px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  color: black;
  border: 1px solid grey;
  text-align: start;
  text-transform: capitalize;
}

.dropdown-content2  {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
  left: 219px;
}

.dropdown-content2 ul {
  list-style-type: none;
}
.dropdown-content2 li {
  padding: 10px;
  text-transform: capitalize;
  list-style: none;

}

#dropdown2:hover,
.dropdown-content2:hover {
  cursor: pointer;
}

.show {
  display: block;
}
/*=======================================
>>>>>>>>  ^^^^^  <<<<<<<<
========================================*/

.url-submit #add {
  height: 35px;
  width: 100px;
  border-radius: 3px;
  border: none;
  margin: 0 10px 0 10px;
  background-color: #EEEEEE;
  font-size: 16px;
  color: #272727;
}

.url-submit #add:hover{
  cursor: pointer;
  background-color: #5d5c5c;
  color: white;
}

#add-select {
  margin-left: 5px;
}

.folder-menu {
  display: flex;
  align-items: center;
  margin-left: 120px;
  height: 100px;
  width: 100%;
}

/*.folder-filter {
  border-bottom: 1px solid darkgrey;
}*/

.folder-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.folder-select img,
.url-submit img {
  width: 20px;
}

.folder-dropdown {
  display: flex;
  align-items: center;
}

.folder-dropdown select {
  outline: none;
  margin: 0 10px 0 10px;
  width: 150px;
  height: 25px;
}

.folder-dropdown select:hover {
  cursor: pointer;
  border: 2px solid #4285F4;
  outline: none;
}

.folder-dropdown img {
  display: flex;
  flex-direction: row;
  width: 20px;
  height: 20px;
}

select,
input #addFolder {
  font-size: 16px;
  text-transform: capitalize;
}

/*=======================================
>>>>>>>>  cards  <<<<<<<<
========================================*/

.cards {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: flex-start;
  height: 175px;
  width: 200px;
  margin: 10px;
  background-color: white;
}
.card h2,
.card h3,
.card h4 {
  margin: 0;
}

.card h2 {
  font-size: 20px;
  overflow: hidden;
}

.card:hover{
  cursor: pointer;
}

.card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 10px;
}

.card h3 {
  font-size: 14px;
}
.card h4 {
  font-size: 12px;
}
